<h2 class="part-title">Usage over time</h2>
<p>
  The first time you used Tinder was on the <span class="text-generated">{{ firstUsage | date : 'longDate'  }}</span>, the last time you used it was on the <span class="text-generated">{{ lastUsage | date : 'longDate' }}</span>.
  This is how you used Tinder over theses <span class="text-generated">{{ usageDayDuration }}</span> days.
</p>
<app-usage-over-time-chart></app-usage-over-time-chart>
<div class="stats-row">
  <app-simple-stat-number title="Total opening" [value]="'' + totalOpening"></app-simple-stat-number>
  <app-simple-stat-number title="Max opening during the same day" [value]="'' + maxOpening"></app-simple-stat-number>
</div>

<h2 class="part-title">Yours swiping habits</h2>
<p>
  You swiped right or left <span class="text-generated">{{ totalRightSwipes }}</span> times, that's a lot! Here you can find a lot of stats on how you swiped!
</p>
<div class="stats-row">
  <app-simple-stat-number title="Total right swipes" [value]="totalRightSwipes"></app-simple-stat-number>
  <app-simple-stat-number title="Total left swipes" [value]="totalLeftSwipes"></app-simple-stat-number>
  <app-simple-stat-number title="Percentage of right swipes" [value]="100 * totalRightSwipes / (totalRightSwipes + totalLeftSwipes) + '%'"></app-simple-stat-number>
</div>
<p>
  That's how yours swiping habits evolved over the days, do you notice any major changes ?
</p>
<app-right-left-percentage-swipes-over-time></app-right-left-percentage-swipes-over-time>
<app-right-left-number-swipes-over-time></app-right-left-number-swipes-over-time>

<h2 class="part-title">Matches</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur <span class="text-generated">24.5%</span> adipiscing elit.
  Morbi commodo, mi eu semper pretium, metus velit pharetra nunc, a bibendum libero <span class="text-generated">961</span> tellus vel dui. Aenean gravida odio sit amet nisl tincidunt finibus.
</p>
<div class="stats-row">
  <app-simple-stat-number title="Total matches" [value]="totalMatches"></app-simple-stat-number>
  <app-simple-stat-number title="Percentage of matches per right swipes" [value]="100 * totalMatches / totalRightSwipes + '%'"></app-simple-stat-number>
</div>
<app-matches-over-time></app-matches-over-time>

<h2 class="part-title">Conversations</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur <span class="text-generated">24.5%</span> adipiscing elit.
  Morbi commodo, mi eu semper pretium, metus velit pharetra nunc, a bibendum libero <span class="text-generated">961</span> tellus vel dui. Aenean gravida odio sit amet nisl tincidunt finibus.
</p>
<div class="stats-row">
  <app-simple-stat-number title="Total messages sent" [value]="totalMessagesSent"></app-simple-stat-number>
  <app-simple-stat-number title="Total messages received" [value]="totalMessagesReceived"></app-simple-stat-number>
</div>
<app-messages-sent-receive-over-time></app-messages-sent-receive-over-time>

<h2 class="part-title">Want to add more stats ?</h2>
<p>
  You can fork the project on <a href="">github</a>.
</p>
