<h2 class="part-title">Usage over time</h2>
<p>
  The first time you used Tinder was on the <span class="text-generated">3 November 2017</span>, the last time you used it was on the <span class="text-generated">5 May 2018</span>. This is how you used Tinder over theses <span class="text-generated">525</span> days.
</p>
<app-usage-over-time-chart></app-usage-over-time-chart>
<div class="stats-row">
  <app-simple-stat-number title="Total opening" value="1758"></app-simple-stat-number>
  <app-simple-stat-number title="Max opening during the same day" value="125"></app-simple-stat-number>
</div>

<h2 class="part-title">Yours swiping habits</h2>
<p>
  You swiped right or left <span class="text-generated">3521</span> times, that's a lot! Here you can find a lot of stats on how you swiped!
</p>
<!--<app-usage-over-time-chart></app-usage-over-time-chart>-->
<div class="stats-row">
  <app-simple-stat-number title="Total right swipes" value="651"></app-simple-stat-number>
  <app-simple-stat-number title="Total left swipes" value="3251"></app-simple-stat-number>
  <app-simple-stat-number title="Percentage of right swipes" value="23.32%"></app-simple-stat-number>
</div>
<p>
  That's how yours swiping habits evolved over the days, do you notice any major changes ?
</p>
<app-right-swipes-over-time></app-right-swipes-over-time>
